/* wide_crown */
.wide_crown piece
  &.man
    &.white
      background-image url('../../images/pieces/wide_crown/wM.svg')
    &.black
      background-image url('../../images/pieces/wide_crown/bM.svg')
  &.king
    &.white
      background-image url('../../images/pieces/wide_crown/wK.svg')
    &.black
      background-image url('../../images/pieces/wide_crown/bK.svg')

/* wide */
.wide piece
  &.man
    &.white
      background-image url('../../images/pieces/wide/wM.svg')
    &.black
      background-image url('../../images/pieces/wide/bM.svg')
  &.king
    &.white
      background-image url('../../images/pieces/wide/wK.svg')
    &.black
      background-image url('../../images/pieces/wide/bK.svg')

/* narrow_edge */
.narrow_edge piece
  &.man
    &.white
      background-image url('../../images/pieces/narrow_edge/wM.svg')
    &.black
      background-image url('../../images/pieces/narrow_edge/bM.svg')
  &.king
    &.white
      background-image url('../../images/pieces/narrow_edge/wK.svg')
    &.black
      background-image url('../../images/pieces/narrow_edge/bK.svg')

/* narrow */
.narrow piece
  &.man
    &.white
      background-image url('../../images/pieces/narrow/wM.svg')
    &.black
      background-image url('../../images/pieces/narrow/bM.svg')
  &.king
    &.white
      background-image url('../../images/pieces/narrow/wK.svg')
    &.black
      background-image url('../../images/pieces/narrow/bK.svg')

/* fabirovsky */
.fabirovsky piece
  &.man
    &.white
      background-image url('../../images/pieces/fabirovsky/wM.svg')
    &.black
      background-image url('../../images/pieces/fabirovsky/bM.svg')
  &.king
    &.white
      background-image url('../../images/pieces/fabirovsky/wK.svg')
    &.black
      background-image url('../../images/pieces/fabirovsky/bK.svg')

/* ringed */
.ringed piece
  &.man
    &.white
      background-image url('../../images/pieces/ringed/wM.svg')
    &.black
      background-image url('../../images/pieces/ringed/bM.svg')
  &.king
    &.white
      background-image url('../../images/pieces/ringed/wK.svg')
    &.black
      background-image url('../../images/pieces/ringed/bK.svg')

/* basic */
.basic piece
  &.man
    &.white
      background-image url('../../images/pieces/basic/wM.svg')
    &.black
      background-image url('../../images/pieces/basic/bM.svg')
  &.king
    &.white
      background-image url('../../images/pieces/basic/wK.svg')
    &.black
      background-image url('../../images/pieces/basic/bK.svg')

/* flat */
.flat piece
  &.man
    &.white
      background-image url('../../images/pieces/flat/wM.svg')
    &.black
      background-image url('../../images/pieces/flat/bM.svg')
  &.king
    &.white
      background-image url('../../images/pieces/flat/wK.svg')
    &.black
      background-image url('../../images/pieces/flat/bK.svg')

/* frisianovsky */
.frisianovsky piece
  &.man
    &.white
      background-image url('../../images/pieces/frisianovsky/wM.svg')
    &.black
      background-image url('../../images/pieces/frisianovsky/bM.svg')
  &.king
    &.white
      background-image url('../../images/pieces/frisianovsky/wK.svg')
    &.black
      background-image url('../../images/pieces/frisianovsky/bK.svg')

/* eightbit */
.eightbit piece
  &.man
    &.white
      background-image url('../../images/pieces/eightbit/wM.svg')
    &.black
      background-image url('../../images/pieces/eightbit/bM.svg')
  &.king
    &.white
      background-image url('../../images/pieces/eightbit/wK.svg')
    &.black
      background-image url('../../images/pieces/eightbit/bK.svg')