// standard 2D boards
.board-brown.is100 > .cg-board
  background-image url('../../images/board/svg/brown_100.svg')
.board-brown.is64 > .cg-board
  background-image url('../../images/board/svg/brown_64.svg')
.board-brown.orientation-white
  > .files > li-coord, fieldnumber
    &.coord-even
      color rgba(#b58863, 1)
    &.coord-odd
      color rgba(#f0d9b5, 1)
  > .ranks > li-coord
    &.coord-even
      color rgba(#f0d9b5, 1)
    &.coord-odd
      color rgba(#b58863, 1)
.board-brown.orientation-black
  > .files > li-coord
    &.coord-even
      color rgba(#f0d9b5, 1)
    &.coord-odd
      color rgba(#b58863, 1)
  > .ranks > li-coord, fieldnumber
    &.coord-even
      color rgba(#b58863, 1)
    &.coord-odd
      color rgba(#f0d9b5, 1)
.board-brown2.is100 > .cg-board
  background-image url('../../images/board/svg/brown2_100.svg')
.board-brown2.is64 > .cg-board
  background-image url('../../images/board/svg/brown2_64.svg')
.board-brown2.orientation-white
  > .files > li-coord, fieldnumber
    &.coord-even
      color rgba(#744f2a, 1)
    &.coord-odd
      color rgba(#e7c88b, 1)
  > .ranks > li-coord
    &.coord-even
      color rgba(#e7c88b, 1)
    &.coord-odd
      color rgba(#744f2a, 1)
.board-brown2.orientation-black
  > .files > li-coord
    &.coord-even
      color rgba(#e7c88b, 1)
    &.coord-odd
      color rgba(#744f2a, 1)
  > .ranks > li-coord, fieldnumber
    &.coord-even
      color rgba(#744f2a, 1)
    &.coord-odd
      color rgba(#e7c88b, 1)
.board-blue.is100 > .cg-board
  background-image url('../../images/board/svg/blue_100.svg')
.board-blue.is64 > .cg-board
  background-image url('../../images/board/svg/blue_64.svg')
.board-blue.orientation-white
  > .files > li-coord, fieldnumber
    &.coord-odd
      color rgba(#dee3e6, 1)
    &.coord-even
      color rgba(#8ca2ad, 1)
  > .ranks > li-coord
    &.coord-even
      color rgba(#dee3e6, 1)
    &.coord-odd
      color rgba(#8ca2ad, 1)
.board-blue.orientation-black
  > .files > li-coord
    &.coord-odd
      color rgba(#8ca2ad, 1)
    &.coord-even
      color rgba(#dee3e6, 1)
  > .ranks > li-coord, fieldnumber
    &.coord-even
      color rgba(#8ca2ad, 1)
    &.coord-odd
      color rgba(#dee3e6, 1)
.board-green.is100 > .cg-board
  background-image url('../../images/board/svg/green_100.svg')
.board-green.is64 > .cg-board
  background-image url('../../images/board/svg/green_64.svg')
.board-green.orientation-white
  > .files > li-coord, fieldnumber
    &.coord-odd
      color rgba(#ffffdd, 1)
    &.coord-even
      color rgba(#86a666, 1)
  > .ranks > li-coord
    &.coord-even
      color rgba(#ffffdd, 1)
    &.coord-odd
      color rgba(#86a666, 1)
.board-green.orientation-black
  > .files > li-coord
    &.coord-odd
      color rgba(#86a666, 1)
    &.coord-even
      color rgba(#ffffdd, 1)
  > .ranks > li-coord, fieldnumber
    &.coord-even
      color rgba(#86a666, 1)
    &.coord-odd
      color rgba(#ffffdd, 1)
.board-purple.is100 > .cg-board
  background-image url('../../images/board/svg/purple_100.svg')
.board-purple.is64 > .cg-board
  background-image url('../../images/board/svg/purple_64.svg')
.board-purple.orientation-white
  > .files > li-coord, fieldnumber
    &.coord-odd
      color rgba(#9f90b0, 1)
    &.coord-even
      color rgba(#7d4a8d, 1)
  > .ranks > li-coord
    &.coord-even
      color rgba(#9f90b0, 1)
    &.coord-odd
      color rgba(#7d4a8d, 1)
.board-purple.orientation-black
  > .files > li-coord
    &.coord-odd
      color rgba(#7d4a8d, 1)
    &.coord-even
      color rgba(#9f90b0, 1)
  > .ranks > li-coord, fieldnumber
    &.coord-even
      color rgba(#7d4a8d, 1)
    &.coord-odd
      color rgba(#9f90b0, 1)
.board-olive.orientation-white
  > .files > li-coord
    &.coord-odd
      color rgba(#b8b19f, 1)
    &.coord-even
      color rgba(#6d6655, 1)
  > .ranks > li-coord
    &.coord-even
      color rgba(#b8b19f, 1)
    &.coord-odd
      color rgba(#6d6655, 1)
.board-olive.orientation-black
  > .files > li-coord
    &.coord-odd
      color rgba(#6d6655, 1)
    &.coord-even
      color rgba(#b8b19f, 1)
  > .ranks > li-coord
    &.coord-even
      color rgba(#6d6655, 1)
    &.coord-odd
      color rgba(#b8b19f, 1)
.board-wood.orientation-white
  > .files > li-coord, fieldnumber
    &.coord-odd
      color rgba(#d29d51, 1)
    &.coord-even
      color rgba(#985520, 1)
  > .ranks > li-coord
    &.coord-even
      color rgba(#d29d51, 1)
    &.coord-odd
      color rgba(#985520, 1)
.board-wood.orientation-black
  > .files > li-coord
    &.coord-odd
      color rgba(#985520, 1)
    &.coord-even
      color rgba(#d29d51, 1)
  > .ranks > li-coord, fieldnumber
    &.coord-even
      color rgba(#985520, 1)
    &.coord-odd
      color rgba(#d29d51, 1)
.board-wood2.orientation-white
  > .files > li-coord, fieldnumber
    &.coord-odd
      color rgba(#94794c, 1)
    &.coord-even
      color rgba(darken(#836839, 20%), 1)
  > .ranks > li-coord
    &.coord-even
      color rgba(#94794c, 1)
    &.coord-odd
      color rgba(darken(#836839, 20%), 1)
.board-wood2.orientation-black
  > .files > li-coord
    &.coord-odd
      color rgba(darken(#836839, 20%), 1)
    &.coord-even
      color rgba(#94794c, 1)
  > .ranks > li-coord, fieldnumber
    &.coord-even
      color rgba(darken(#836839, 20%), 1)
    &.coord-odd
      color rgba(#94794c, 1)
.board-wood3.orientation-white
  > .files > li-coord, fieldnumber
    &.coord-odd
      color rgba(#bdb3a7, 1)
    &.coord-even
      color rgba(#91683a, 1)
  > .ranks > li-coord
    &.coord-even
      color rgba(#bdb3a7, 1)
    &.coord-odd
      color rgba(#91683a, 1)
.board-wood3.orientation-black
  > .files > li-coord
    &.coord-odd
      color rgba(#91683a, 1)
    &.coord-even
      color rgba(#bdb3a7, 1)
  > .ranks > li-coord, fieldnumber
    &.coord-even
      color rgba(#91683a, 1)
    &.coord-odd
      color rgba(#bdb3a7, 1)
.board-maple.orientation-white
  > .files > li-coord, fieldnumber
    &.coord-odd
      color rgba(#ECCCA3, 1)
    &.coord-even
      color rgba(#BB7D4A, 1)
  > .ranks > li-coord
    &.coord-even
      color rgba(#ECCCA3, 1)
    &.coord-odd
      color rgba(#BB7D4A, 1)
.board-leather.orientation-white
  > .files > li-coord
    &.coord-odd
      color rgba(#d1d1c9, 1)
    &.coord-even
      color rgba(#c28e16, 1)
  > .ranks > li-coord
    &.coord-even
      color rgba(#d1d1c9, 1)
    &.coord-odd
      color rgba(#c28e16, 1)
.board-leather.orientation-black
  > .files > li-coord
    &.coord-odd
      color rgba(#c28e16, 1)
    &.coord-even
      color rgba(#d1d1c9, 1)
  > .ranks > li-coord
    &.coord-even
      color rgba(#c28e16, 1)
    &.coord-odd
      color rgba(#d1d1c9, 1)
.board-marble.orientation-white
  > .files > li-coord
    &.coord-odd
      color rgba(#93ab91, 1)
    &.coord-even
      color rgba(#4f644e, 1)
  > .ranks > li-coord
    &.coord-even
      color rgba(#93ab91, 1)
    &.coord-odd
      color rgba(#4f644e, 1)
.board-marble.orientation-black
  > .files > li-coord
    &.coord-odd
      color rgba(#4f644e, 1)
    &.coord-even
      color rgba(#93ab91, 1)
  > .ranks > li-coord
    &.coord-even
      color rgba(#4f644e, 1)
    &.coord-odd
      color rgba(#93ab91, 1)
.board-maple.orientation-black
  > .files > li-coord
    &.coord-odd
      color rgba(#BB7D4A, 1)
    &.coord-even
      color rgba(#ECCCA3, 1)
  > .ranks > li-coord, fieldnumber
    &.coord-even
      color rgba(#BB7D4A, 1)
    &.coord-odd
      color rgba(#ECCCA3, 1)
.board-blue2.orientation-white
  > .files > li-coord
    &.coord-odd
      color rgba(#97b2c7, 1)
    &.coord-even
      color rgba(#546f82, 1)
  > .ranks > li-coord
    &.coord-even
      color rgba(#97b2c7, 1)
    &.coord-odd
      color rgba(#546f82, 1)
.board-blue2.orientation-black
  > .files > li-coord
    &.coord-odd
      color rgba(#546f82, 1)
    &.coord-even
      color rgba(#97b2c7, 1)
  > .ranks > li-coord
    &.coord-even
      color rgba(#546f82, 1)
    &.coord-odd
      color rgba(#97b2c7, 1)
.board-blue3
  > li-coords
    color rgba(#c3cdd7, 1)
  &.orientation-white
    > .files > li-coord, fieldnumber
      &.coord-even
        color rgba(#487aad, 1)
    > .ranks > li-coord
      &.coord-odd
        color rgba(#487aad, 1)
  &.orientation-black
    > .files > li-coord
      &.coord-odd
        color rgba(#487aad, 1)
    > .ranks > li-coord, fieldnumber
      &.coord-even
        color rgba(#487aad, 1)
.board-canvas.orientation-white
  > .files > li-coord, fieldnumber
    &.coord-odd
      color rgba(#c3cdd7, 1)
    &.coord-even
      color rgba(#7687a3, 1)
  > .ranks > li-coord
    &.coord-even
      color rgba(#c3cdd7, 1)
    &.coord-odd
      color rgba(#7687a3, 1)
.board-canvas.orientation-black
  > .files > li-coord
    &.coord-odd
      color rgba(#7687a3, 1)
    &.coord-even
      color rgba(#c3cdd7, 1)
  > .ranks > li-coord, fieldnumber
    &.coord-even
      color rgba(#7687a3, 1)
    &.coord-odd
      color rgba(#c3cdd7, 1)
.board-grey.orientation-white
  > .files > li-coord, fieldnumber
    &.coord-odd
      color rgba(#a3a3a3, 1)
    &.coord-even
      color rgba(#888888, 1)
  > .ranks > li-coord
    &.coord-even
      color rgba(#a3a3a3, 1)
    &.coord-odd
      color rgba(#888888, 1)
.board-grey.orientation-black
  > .files > li-coord
    &.coord-odd
      color rgba(#888888, 1)
    &.coord-even
      color rgba(#a3a3a3, 1)
  > .ranks > li-coord, fieldnumber
    &.coord-even
      color rgba(#888888, 1)
    &.coord-odd
      color rgba(#a3a3a3, 1)
.board-metal.orientation-white
  > .files > li-coord, fieldnumber
    &.coord-odd
      color rgba(#cecece, 1)
    &.coord-even
      color rgba(#727272, 1)
  > .ranks > li-coord
    &.coord-even
      color rgba(#cecece, 1)
    &.coord-odd
      color rgba(#727272, 1)
.board-metal.orientation-black
  > .files > li-coord
    &.coord-odd
      color rgba(#727272, 1)
    &.coord-even
      color rgba(#cecece, 1)
  > .ranks > li-coord, fieldnumber
    &.coord-even
      color rgba(#727272, 1)
    &.coord-odd
      color rgba(#cecece, 1)
.board-match.is100 > .cg-board
  background-image url('../../images/board/svg/match_100.svg')
.board-match.is64 > .cg-board
  background-image url('../../images/board/svg/match_64.svg')
.board-match.orientation-white
  > .files > li-coord, fieldnumber
    &.coord-even
      color rgba(#b86c3d, 1)
    &.coord-odd
      color rgba(#edece4, 1)
  > .ranks > li-coord
    &.coord-even
      color rgba(#edece4, 1)
    &.coord-odd
      color rgba(#b86c3d, 1)
.board-match.orientation-black
  > .files > li-coord
    &.coord-even
      color rgba(#edece4, 1)
    &.coord-odd
      color rgba(#b86c3d, 1)
  > .ranks > li-coord, fieldnumber
    &.coord-even
      color rgba(#b86c3d, 1)
    &.coord-odd
      color rgba(#edece4, 1)
.board-ic.is100 > .cg-board
  background-image url('../../images/board/svg/ic_100.svg')
.board-ic.is64 > .cg-board
  background-image url('../../images/board/svg/ic_64.svg')
.board-ic.orientation-white
  > .files > li-coord
    &.coord-odd
      color rgba(#ececec, 1)
    &.coord-even
      color rgba(#c1c18e, 1)
  > .ranks > li-coord
    &.coord-even
      color rgba(#ececec, 1)
    &.coord-odd
      color rgba(#c1c18e, 1)
.board-ic.orientation-black
  > .files > li-coord
    &.coord-odd
      color rgba(#c1c18e, 1)
    &.coord-even
      color rgba(#ececec, 1)
  > .ranks > li-coord
    &.coord-even
      color rgba(#c1c18e, 1)
    &.coord-odd
      color rgba(#ececec, 1)
