.mode_facing.opponent piece,
#page.white .mode_flip.turn_black piece,
#page.black .mode_flip.turn_white piece
  transform rotate(180deg)

/* wide_crown */
.wide_crown piece
  &.man
    &.white
      background-image url('../../images/pieces/wide_crown/wM.svg')
    &.black
      background-image url('../../images/pieces/wide_crown/bM.svg')
  &.king
    &.white
      background-image url('../../images/pieces/wide_crown/wB.svg')
    &.black
      background-image url('../../images/pieces/wide_crown/bB.svg')

/* wide */
.wide piece
  &.man
    &.white
      background-image url('../../images/pieces/wide/wM.svg')
    &.black
      background-image url('../../images/pieces/wide/bM.svg')
  &.king
    &.white
      background-image url('../../images/pieces/wide/wB.svg')
    &.black
      background-image url('../../images/pieces/wide/bB.svg')

/* narrow_edge */
.narrow_edge piece
  &.man
    &.white
      background-image url('../../images/pieces/narrow_edge/wM.svg')
    &.black
      background-image url('../../images/pieces/narrow_edge/bM.svg')
  &.king
    &.white
      background-image url('../../images/pieces/narrow_edge/wB.svg')
    &.black
      background-image url('../../images/pieces/narrow_edge/bB.svg')

/* narrow */
.narrow piece
  &.man
    &.white
      background-image url('../../images/pieces/narrow/wM.svg')
    &.black
      background-image url('../../images/pieces/narrow/bM.svg')
  &.king
    &.white
      background-image url('../../images/pieces/narrow/wB.svg')
    &.black
      background-image url('../../images/pieces/narrow/bB.svg')

/* fabirovsky */
.fabirovsky piece
  &.man
    &.white
      background-image url('../../images/pieces/fabirovsky/wM.svg')
    &.black
      background-image url('../../images/pieces/fabirovsky/bM.svg')
  &.king
    &.white
      background-image url('../../images/pieces/fabirovsky/wB.svg')
    &.black
      background-image url('../../images/pieces/fabirovsky/bB.svg')

/* basic */
.basic piece
  &.man
    &.white
      background-image url('../../images/pieces/basic/wM.svg')
    &.black
      background-image url('../../images/pieces/basic/bM.svg')
  &.king
    &.white
      background-image url('../../images/pieces/basic/wB.svg')
    &.black
      background-image url('../../images/pieces/basic/bB.svg')
