.home
  padding-top 5px
  >.stats
    margin-top 1em
    padding 0px 10px
    font-size 1em
    width 100%
    display flex
    flex-flow row nowrap
    justify-content space-between
    >.numPlayers
      flex 0 1 auto
    >.numGames
      flex 0 1 auto
  .tabs-view-wrapper
    height calc(((100vw * 0.85 - 40px) * 0.28) * 3 + 40px)
    background-color transparent
    background-image url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyMTAuMCAyMTAuMCI+PGcgb3BhY2l0eT0iLjEiIGZpbGw9Im5vbmUiIHN0cm9rZT0iI2ZmZiIgc3Ryb2tlLWxpbmVqb2luPSJyb3VuZCIgc3Ryb2tlLWxpbmVjYXA9InJvdW5kIiBzdHJva2Utd2lkdGg9IjYiPjxnIGZpbGw9IiMwMDAiPjxwYXRoIGQ9Ik0gMTAsMTQwIGMgMCw2MCAxOTAsNjAgMTkwLDAgbCAwLC0zNSBsIC0xOTAsMCB6Ii8+PHBhdGggZD0iTSAxMCwxMDUgYyAwLDYwIDE5MCw2MCAxOTAsMCBsIDAsLTM1IGwgLTE5MCwwIHoiLz48cGF0aCBkPSJNIDEwLDcwIGMgMCw2MCAxOTAsNjAgMTkwLDAgYyAwLC02MCAtMTkwLC02MCAtMTkwLDAgeiIvPjwvZz48L2c+PC9zdmc+")
    background-repeat no-repeat
    background-size 100% 100%
  .newGame-pools
    padding 10px
    > .newGame-pool
      box-shadow none
      height calc((100vw * 0.85 - 40px) * 0.28)
      background-color transpWhite01
      border 1px solid lighten(#3d3d3d, 20%)
      color inherit
      &:nth-child(7), &:nth-child(8), &:nth-child(9)
        margin-bottom 0
      &.active
        background-color lighten(bgdark, 8%)

.tabs-navigation.homeSetup
  height 35px
  > .tab-button
    text-transform initial
    font-size 0.9rem

.homeTournament
  margin-top 0.5em
  padding 0px
  >.homeTitle
    margin 5px 0 5px
  >.tournamentList
    >.tournament_item
      padding 10px

.homeTitle
  font-weight bold
  text-align center
  margin 10px 0 5px

.homeOfflineWrapper
  flex-grow 1
  display flex
  flex-flow column nowrap
  &.withBoard
    display initial

.homeOffline
  flex-grow 1
  display flex
  flex-flow column nowrap
  justify-content center
  h2
    margin 0 auto
    font-size 1.3em
    font-weight bold
    opacity 0.6
    &.homeTitle
      margin-bottom 0.5em

.playOffline
  display flex
  flex-flow column nowrap
  justify-content center
  align-items center
  margin-top 1em
  > .fatButton
    margin 1em

.miniPuzzle
  display flex
  flex-flow column nowrap
  justify-content flex-start
  align-items center

.miniPuzzle
  margin-bottom 15px
  .homeTitle
    margin-top 15px

#timeline
  padding 0px
  .timelineEntry
    padding 10px
    font-size 0.9em

.mini_board
  @media only screen and (orientation: portrait)
    width 66vw
  @media only screen and (orientation: landscape)
    width 66vh
  > .board_wrapper
    width 100%
    @media only screen and (orientation: portrait)
      height 66vw
    @media only screen and (orientation: landscape)
      height 66vh
  > .vsbloc
    font-size 0.8em
    background: linear-gradient(to bottom,rgba(40,40,40,1),rgba(34,34,34,1) 100%);
    border 1px solid #323232
    padding 5px
    overflow hidden
    > .antagonists
      display flex
      flex-flow row nowrap
      justify-content space-between
      > .player, > .opponent
        max-width 49%
        overflow hidden
        text-overflow ellipsis
    > .ratingAndTime
      display flex
      flex-flow row nowrap
      justify-content space-between
      > .time
        display flex
        justify-content center
        align-items center

.home-playbanInfo
  padding 1em
  text-align center
  > h2
    font-size 1.2em
    margin-top 0.5em
    line-height 2em
  > p
    font-size 0.9em
  > ul
    list-style initial
    margin-left 2em
    text-align left

.corresPoolWrapper
  flex-grow 1
  display flex

.corres_seeks
  flex 1 1 auto
  text-align left
  .must_signin
    text-align center
  th, td
    vertical-align middle
  th
    font-weight normal
    padding 1em
    &:first-child
      width 16px

.corres_empty_seeks_list
  flex 1 1 auto
  display flex
  justify-content center
  align-items center

.corres_seek
  overflow hidden
  &.cancel
    color gold
  > td
    &:first-child
      width 16px
      text-align center
    overflow hidden
    padding 0.5em
    border-bottom 1px solid lighten(#3d3d3d, 10%)

.view-container.light
  .tabs-navigation.homeSetup
    background-color inherit

  .home
    .tabs-view-wrapper
      background-image url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyMTAuMCAyMTAuMCI+PGcgb3BhY2l0eT0iLjEiIGZpbGw9Im5vbmUiIHN0cm9rZT0iIzAwMCIgc3Ryb2tlLWxpbmVqb2luPSJyb3VuZCIgc3Ryb2tlLWxpbmVjYXA9InJvdW5kIiBzdHJva2Utd2lkdGg9IjYiPjxnIGZpbGw9IiNmZmYiPjxwYXRoIGQ9Ik0gMTAsMTQwIGMgMCw2MCAxOTAsNjAgMTkwLDAgbCAwLC0zNSBsIC0xOTAsMCB6Ii8+PHBhdGggZD0iTSAxMCwxMDUgYyAwLDYwIDE5MCw2MCAxOTAsMCBsIDAsLTM1IGwgLTE5MCwwIHoiLz48cGF0aCBkPSJNIDEwLDcwIGMgMCw2MCAxOTAsNjAgMTkwLDAgYyAwLC02MCAtMTkwLC02MCAtMTkwLDAgeiIvPjwvZz48L2c+PC9zdmc+")

    .newGame-pool
      background-color transpWhite04
      border-color borderLightGray
      color inherit
      &.active
        background-color themeBgLightActive


.view-container.transp
  .tabs-navigation.homeSetup
    background-color inherit

  .home
    .newGame-pool
      border-color transpWhite02
      background-color transpWhite005
      &.active
        background-color transpWhite01
