.home
  padding-top 5px
  display: grid

  grid-template-areas:
    'lobby'\
    'start'\
    'tournament'\
    'timeline'\
    'puzzle'\
    '.'
  grid-gap: 2vmin

  @media only screen and (min-width 601px)
    grid-template-columns: repeat(2, 1fr)
    grid-template-rows: auto repeat(3, fit-content(0))
    grid-template-areas:
      'start start'\
      'lobby lobby'\
      'timeline tournament'\
      'timeline puzzle';

  @media only screen and (min-width 800px)

    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 12em repeat(2, fit-content(0));

    grid-template-areas:
      'start lobby lobby'\
      'start lobby lobby'\
      'timeline timeline tournament'\
      'timeline timeline puzzle';

.home__lobby
  grid-area lobby

.home__stats
  padding 2vmin
  display flex
  flex-flow row nowrap
  justify-content space-between
  > div
    flex 0 1 auto

.home__setupTabView
  height calc(((100vw - 40px) * 0.28) * 3 + 40px)
  @media only screen and (min-width 601px)
    height calc(((100vw - 40px) * 0.2) * 3 + 40px)
  background-color #262421
  background-image url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyMTAuMCAyMTAuMCI+PGcgb3BhY2l0eT0iLjEiIGZpbGw9Im5vbmUiIHN0cm9rZT0iI2ZmZiIgc3Ryb2tlLWxpbmVqb2luPSJyb3VuZCIgc3Ryb2tlLWxpbmVjYXA9InJvdW5kIiBzdHJva2Utd2lkdGg9IjYiPjxnIGZpbGw9IiMwMDAiPjxwYXRoIGQ9Ik0gMTAsMTQwIGMgMCw2MCAxOTAsNjAgMTkwLDAgbCAwLC0zNSBsIC0xOTAsMCB6Ii8+PHBhdGggZD0iTSAxMCwxMDUgYyAwLDYwIDE5MCw2MCAxOTAsMCBsIDAsLTM1IGwgLTE5MCwwIHoiLz48cGF0aCBkPSJNIDEwLDcwIGMgMCw2MCAxOTAsNjAgMTkwLDAgYyAwLC02MCAtMTkwLC02MCAtMTkwLDAgeiIvPjwvZz48L2c+PC9zdmc+")
  background-repeat no-repeat
  background-size 100% 100%
  .newGame-pools
    padding 2vmin
    > .newGame-pool
      padding 0
      fluid-type(16px, 35px)
      background-color transpWhite01
      border 1px solid lighten(#3d3d3d, 20%)
      color inherit
      &.active
        background-color rgba(gold, 0.3)

.tabs-navigation.homeSetup
  height 35px
  > .tab-button
    text-transform initial

.home__start
  grid-area start

.home__buttons
  display flex
  flex-flow column nowrap
  justify-content stretch
  margin 0 2vmin
  @media only screen and (min-width 601px)
    margin-top 1em
  @media only screen and (min-width 800px)
    margin-top 33px

.home__miniPuzzle
  grid-area puzzle

.home__featured, .home__miniPuzzle
  display flex
  flex-flow column nowrap
  margin 0 1vmin
  @media only screen and (min-width 601px)
    margin 0 1vmin 0 0

.home__tournament
  grid-area tournament
  padding 0px
  > .tournamentList
    > .tournament_item
      padding 2vmin
      > .tournamentListName
        white-space normal

.home__timeline
  grid-area timeline
  margin 0 2vmin
  margin-top 2vmin
  &:first-child
    margin-top 0
  &.loading
    padding-top 2em
  > .more
    color darken(textDarkBg, 20%)
    font-size 0.9em
    text-align right
  .timelineEntry
    color darken(textDarkBg, 20%)
    em
      color darken(textDarkBg, 20%)
    &.blogEntry
      color textDarkBg
    > strong
      color textDarkBg
      font-weight normal
    padding 0.5em 0
    font-size 0.9em
  @media only screen and (min-width 601px)
    margin-bottom 1em
    .timelineEntry
      &:first-child
        padding-top 0
    > ul, .more
      margin 0 1vmin

.homeTitle
  font-weight bold
  text-align center
  margin 2vmin 0 5px

.homeOfflineWrapper
  flex-grow 1
  display flex
  flex-flow column nowrap
  &.withBoard
    display initial

.homeOffline
  flex-grow 1
  display flex
  flex-flow column nowrap
  justify-content center
  h2
    margin 0 auto
    font-size 1.3em
    font-weight bold
    opacity 0.6
    &.homeTitle
      margin-bottom 0.5em

.playOffline
  display flex
  flex-flow column nowrap
  justify-content center
  align-items center
  margin-top 1em
  > .fatButton
    margin 1em

.home-playbanInfo
  padding 1em
  text-align center
  > h2
    font-size 1.2em
    margin-top 0.5em
    line-height 2em
  > p
    font-size 0.9em
  > ul
    list-style initial
    margin-left 2em
    text-align left

.corresPoolWrapper
  flex-grow 1
  display flex
  flex-flow column nowrap
  > .corres_create
    flex 0 1 auto
    margin-top 20px
    display flex
    justify-content center

.corres_seeks
  flex 1 1 auto
  text-align left
  font-size 0.8em
  width 100%
  .must_signin
    text-align center
  th, td
    vertical-align middle
    overflow hidden
    white-space nowrap
    text-overflow ellipsis
    &:first-child
      text-align center
      width 30px
  th
    font-weight normal
    padding 1em
  td
    padding 0.5em
    border-bottom 1px solid lighten(#3d3d3d, 10%)

.corres_empty_seeks_list
  flex 1 1 auto
  display flex
  justify-content center
  align-items center

.corres_seek
  &.cancelCorresSeek
    background rgba(green, 0.15)
  &.active
    background rgba(gold, 0.3)

.view-container.light

  .home__timeline
    > .more
      color darken(textLightGray, 20%)
    .timelineEntry
      color darken(textLightGray, 20%)
      em
        color darken(textLightGray, 20%)
      &.blogEntry
        color themeBgLightText
      > strong
        color themeBgLightText
        font-weight bold

  .tabs-navigation.homeSetup
    background-color inherit

  .home
    background themeBgLightHeader

  .home__setupTabView
    background-color bglight
    background-image url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyMTAuMCAyMTAuMCI+PGcgb3BhY2l0eT0iLjEiIGZpbGw9Im5vbmUiIHN0cm9rZT0iIzAwMCIgc3Ryb2tlLWxpbmVqb2luPSJyb3VuZCIgc3Ryb2tlLWxpbmVjYXA9InJvdW5kIiBzdHJva2Utd2lkdGg9IjYiPjxnIGZpbGw9IiNmZmYiPjxwYXRoIGQ9Ik0gMTAsMTQwIGMgMCw2MCAxOTAsNjAgMTkwLDAgbCAwLC0zNSBsIC0xOTAsMCB6Ii8+PHBhdGggZD0iTSAxMCwxMDUgYyAwLDYwIDE5MCw2MCAxOTAsMCBsIDAsLTM1IGwgLTE5MCwwIHoiLz48cGF0aCBkPSJNIDEwLDcwIGMgMCw2MCAxOTAsNjAgMTkwLDAgYyAwLC02MCAtMTkwLC02MCAtMTkwLDAgeiIvPjwvZz48L2c+PC9zdmc+")
    .newGame-pool
      background-color transpWhite04
      border-color borderLightGray
      color inherit
      &.active
        background-color rgba(gold, 0.3)
    .corres_seek
      > td
        border-color borderLightGray


.view-container.transp
  .tabs-navigation.homeSetup
    background-color inherit
    > .tab-button
      text-shadow 0 1px 1px rgba(0,0,0,0.5)

  .corres_seek > td
    border-color transpWhite01

  .home__setupTabView
    background-color transpBlack02
    background-image none

  .home__timeline
    .timelineEntry
      text-shadow 0 1px 1px rgba(0,0,0,0.5)
      color inherit
      em
        color inherit
      &.blogEntry
        color inherit
      > strong
        color inherit
        font-weight bold
    > .more
      color inherit
