@require 'reset'
@require 'colors'
@require 'common'
@require 'form'
@require 'modal'
@require 'overlay'
@require 'overlay-popup'
@require 'draughtsground'
@require 'draughtsground-board'
@require 'draughtsground-piece'
@require '*'
@require '../ui/**/*'
