.settings_list
  flex-grow 1
  .explanation
    padding 15px
  .list_item
    &.selected
      background-color lighten(bgdark, 5%)
    > .fa-check
      margin-left 1em

.app_version
  flex-grow 0
  padding 10px 15px
  font-size 0.75em
  color darken(#DFDFDF, 10%)

.radio_list
  .list_item
    padding 0
  input.radio:empty
    display none
  input.radio:checked + label
    background-color lighten(bgdark, 5%)
  input.radio:checked + label:after
    display inline-block
    font normal normal normal 14px/1 FontAwesome
    font-size inherit
    text-rendering auto
    -webkit-font-smoothing antialiased
    -moz-osx-font-smoothing grayscale
    content: "\f00c"
    margin-left 1em
  label
    display inline-block
    vertical-align middle
    padding .8em
    width 100%
    height 100%
    text-transform capitalize

#bgThemes
  &.loading
    .list_item input.radio + label
      opacity 0.5
    .list_item input.radio:checked + label
      opacity 1
    .list_item input.radio:checked + label:after
      content: '\f1ce'
      animation: fa-spin 2s infinite linear;

.theme-progressBarContainer
  position absolute
  top 15px
  left 170px
  width calc(100vw - 170px - 15px)
  height 20px
  border 1px solid transpWhite02
  font-size 11px
  line-height 18px
  padding-left 3px
  color #d5d5d5
  overflow hidden
  > .theme-progressBar
    position absolute
    top 0
    left 0
    width 100%
    height 100%
    transition transform ease-out 500ms
    transform translateX(-100%)
    background rgba(gold, 0.5)
  > .theme-progressInner
    position absolute
    top 0
    left 3px
    z-index 2

.settingsChoicesInline
  display flex
  flex-flow row wrap
  justify-content space-between

.list_item.board_theme
  &.loading
    > .name
      opacity 0.8
  > .name
    margin-right 0.5em
  > .fa-check
    margin-left 0.5em
  > .fa-cloud-download
    font-size 0.9em
    opacity: 0.7

.board_thumbnail
  display inline-block
  position absolute
  right 15px
  width: 64px;
  height: 32px;
  &.blue
    background-image url('../../images/board/svg/blue.svg')
    background-size 256px
  &.blue3
    background-image url('../../images/board/blue3.thumbnail.jpg')
  &.canvas
    background-image url('../../images/board/canvas.thumbnail.jpg')
  &.wood
    background-image url('../../images/board/wood.thumbnail.jpg')
  &.wood2
    background-image url('../../images/board/wood2.thumbnail.jpg')
  &.wood3
    background-image url('../../images/board/wood3.thumbnail.jpg')
  &.maple
    background-image url('../../images/board/maple.thumbnail.jpg')
  &.brown
    background-image url('../../images/board/svg/brown.svg')
    background-size 256px
  &.brown2
    background-image url('../../images/board/svg/brown2.svg')
    background-size 256px
  &.match
    background-image url('../../images/board/svg/match.svg')
    background-size 256px
  &.green
    background-image url('../../images/board/svg/green.svg')
    background-size 256px
  &.grey
    background-image url('../../images/board/grey.thumbnail.jpg')
  &.metal
    background-image url('../../images/board/metal.thumbnail.jpg')
  &.purple
    background-image url('../../images/board/svg/purple.svg')
    background-size 256px
  &.ic
    background-image url('../../images/board/svg/ic.svg')
    background-size 256px

.list_item.piece_theme
  line-height 60px
  > label
    background-repeat no-repeat
    background-position right 10px center, right 70px center
    background-size 60px 60px
    @media only screen and (min-width 600px)
      background-position right 130px center, right 190px center, right 10px center, right 70px center;
  &.wide_crown
    > label
      background-image url('../../images/pieces/wide_crown/wM.svg'),url('../../images/pieces/wide_crown/wK.svg')
      @media only screen and (min-width 600px)
        background-image url('../../images/pieces/wide_crown/wM.svg'),url('../../images/pieces/wide_crown/wK.svg'),url('../../images/pieces/wide_crown/bM.svg'),url('../../images/pieces/wide_crown/bK.svg')
  &.wide
    > label
      background-image url('../../images/pieces/wide/wM.svg'),url('../../images/pieces/wide/wK.svg')
      @media only screen and (min-width 600px)
        background-image url('../../images/pieces/wide/wM.svg'),url('../../images/pieces/wide/wK.svg'),url('../../images/pieces/wide/bM.svg'),url('../../images/pieces/wide/bK.svg')
  &.narrow_edge
    > label
      background-image url('../../images/pieces/narrow_edge/wM.svg'),url('../../images/pieces/narrow_edge/wK.svg')
      @media only screen and (min-width 600px)
        background-image url('../../images/pieces/narrow_edge/wM.svg'),url('../../images/pieces/narrow_edge/wK.svg'),url('../../images/pieces/narrow_edge/bM.svg'),url('../../images/pieces/narrow_edge/bK.svg')
  &.narrow
    > label
      background-image url('../../images/pieces/narrow/wM.svg'),url('../../images/pieces/narrow/wK.svg')
      @media only screen and (min-width 600px)
        background-image url('../../images/pieces/narrow/wM.svg'),url('../../images/pieces/narrow/wK.svg'),url('../../images/pieces/narrow/bM.svg'),url('../../images/pieces/narrow/bK.svg')
  &.fabirovsky
    > label
      background-image url('../../images/pieces/fabirovsky/wM.svg'),url('../../images/pieces/fabirovsky/wK.svg')
      @media only screen and (min-width 600px)
        background-image url('../../images/pieces/fabirovsky/wM.svg'),url('../../images/pieces/fabirovsky/wK.svg'),url('../../images/pieces/fabirovsky/bM.svg'),url('../../images/pieces/fabirovsky/bK.svg')
  &.ringed
    > label
      background-image url('../../images/pieces/ringed/wM.svg'),url('../../images/pieces/ringed/wK.svg')
      @media only screen and (min-width 600px)
        background-image url('../../images/pieces/ringed/wM.svg'),url('../../images/pieces/ringed/wK.svg'),url('../../images/pieces/ringed/bM.svg'),url('../../images/pieces/ringed/bK.svg')
  &.flat
    > label
      background-image url('../../images/pieces/flat/wM.svg'),url('../../images/pieces/flat/wK.svg')
      @media only screen and (min-width 600px)
        background-image url('../../images/pieces/flat/wM.svg'),url('../../images/pieces/flat/wK.svg'),url('../../images/pieces/flat/bM.svg'),url('../../images/pieces/flat/bK.svg')
  &.basic
    > label
      background-image url('../../images/pieces/basic/wM.svg'),url('../../images/pieces/basic/wK.svg')
      @media only screen and (min-width 600px)
        background-image url('../../images/pieces/basic/wM.svg'),url('../../images/pieces/basic/wK.svg'),url('../../images/pieces/basic/bM.svg'),url('../../images/pieces/basic/bK.svg')
  &.frisianovsky
    > label
      background-image url('../../images/pieces/frisianovsky/wM.svg'),url('../../images/pieces/frisianovsky/wK.svg')
      @media only screen and (min-width 600px)
        background-image url('../../images/pieces/frisianovsky/wM.svg'),url('../../images/pieces/frisianovsky/wK.svg'),url('../../images/pieces/frisianovsky/bM.svg'),url('../../images/pieces/frisianovsky/bK.svg')
  &.eightbit
    > label
      background-image url('../../images/pieces/eightbit/wM.svg'),url('../../images/pieces/eightbit/wK.svg')
      @media only screen and (min-width 600px)
        background-image url('../../images/pieces/eightbit/wM.svg'),url('../../images/pieces/eightbit/wK.svg'),url('../../images/pieces/eightbit/bM.svg'),url('../../images/pieces/eightbit/bK.svg')